h3 {
  text-decoration: underline;
  color: #47756b;
}
.c-circle {
  cursor: pointer;
}
.author-label {
  font-size: small;
}

.create-button {
  background: #01589d !important;
}

.author-field {
  border-radius: 0em !important;
  border-style: solid !important;
  border-width: 3px !important;
  border-color: #979797 !important;
}

