h4 {
  text-decoration: underline 2px solid;
  color: #044C3E !important;
  font-weight: normal !important;
}

.c-circle {
  cursor: pointer;
}
.author-label {
  font-size: small;
}

.create-button {
  background: #01589d !important;
  border-radius: 6px !important;
}

.author-field {
  border-radius: 0em !important;
  border-style: solid !important;
  border-width: 3px !important;
  border-color: #979797 !important;
}


