h3 {
  text-decoration: underline;
  color: #47756b;
}
.c-circle {
  cursor: pointer;
}

.book-label {
  font-size: small;
}

.create-button {
  background: #01589d !important;
}

.books-field {
  border-radius: 0 !important;
}

