h3 {
  text-decoration: underline;
  color: #044C3E;
  font-weight: normal !important;
}
.c-circle {
  cursor: pointer;
}

.book-label {
  font-size: small;
}

.create-button {
  background: #01589d !important;
  border-radius: 6px !important;
}

.books-field {
  border-radius: 0 !important;
  border-width: 2px !important;

}

