.footer {
  background-color: #cecece;
}
.icon-color-fb {
  color: #048efa;
  cursor: pointer;
}

.icon-color-ln {
  color: #0488ef;
  cursor: pointer;

}

.icon-color-tw {
  color: #0488ef;
  cursor: pointer;
}